@model PathPlus.Models.Announcement

@{
    ViewBag.Title = "Delete";
}

<section class="container">
    <h2>刪除公告</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditDate)
            </dt>

            <dd>
                @ViewBag.EditDate
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RevokeDate)
            </dt>

            <dd>
                @ViewBag.RevokeDate
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Editor)
            </dt>

            <dd>
                @ViewBag.Editor
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnouncementStatusCategory.StatusCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnnouncementStatusCategory.StatusCategoryName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-actions no-color">
                <div class="row">
                    <div class="col-md-6 col-xl-4 ">
                        <input type="submit" value="刪除此公告" class="btn btn-secondary btn-block btn-secondary-danger" onclick="return confirm('確認要刪除此公告?')" />
                    </div>

                </div>
                <div class="mt-4">
                    <a href="@Url.Action("Index")">返回列表 <i class="far fa-file-alt"></i></a>
                </div>
            </div>
        }
    </div>
</section>