@{
    ViewBag.Title = "Index";
}

<section class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">控制台</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-info">站務資訊管理中心</h6>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-4">公告管理</div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-4">
                                                    <div class="card bg-success text-center shadow">
                                                        <a href="@Url.Action("Create", "Announcements")">
                                                            <div class="card-body text-white">
                                                                新增公告 &nbsp;<i class="fas fa-plus text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-4">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Index", "Announcements")">
                                                            <div class="card-body text-white">
                                                                公告管理 &nbsp;<i class="fas fa-pen text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-4">廣告</div>

                                            <div class="row">
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-4">
                                                    <div class="card bg-success text-center shadow">
                                                        <a href="@Url.Action("Create", "Advertisements")">
                                                            <div class="card-body text-white">
                                                                加入廣告 &nbsp;<i class="fas fa-plus text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-4">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Index", "Advertisements")">
                                                            <div class="card-body text-white">
                                                                廣告管理 &nbsp;<i class="fas fa-list-ul text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-4">廣告商</div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-4">
                                                    <div class="card bg-success text-center shadow">
                                                        <a href="@Url.Action("Create", "Advertisers")">
                                                            <div class="card-body text-white">
                                                                新廣告商 &nbsp;<i class="fas fa-plus text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-12 col-lg-12 mb-3">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Index", "Advertisers")">
                                                            <div class="card-body text-white">
                                                                廣告商管理 &nbsp;<i class="fas fa-list-ul text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">

                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-4">使用條款更新</div>

                                            <div class="row">
                                                <div class="col-sm-6 col-xl-12 mb-4">
                                                    <div class="card bg-success text-center shadow">
                                                        <a href="@Url.Action("Create", "Terms")">
                                                            <div class="card-body text-white">
                                                                新增使用條款 &nbsp;<i class="fas fa-plus text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xl-12 mb-4">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Edit", "Terms", new { id = "T02000000000002" })">
                                                            <div class="card-body text-white">
                                                                Path+ 服務 &nbsp;<i class="fas fa-pen text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xl-12 mb-4">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Edit", "Terms", new { id = "T02000000000003" })">
                                                            <div class="card-body text-white">
                                                                資料政策 &nbsp;<i class="fas fa-pen text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xl-12 mb-4">
                                                    <div class="card bg-info text-center shadow">
                                                        <a href="@Url.Action("Edit", "Terms", new { id = "T02000000000004" })">
                                                            <div class="card-body text-white">
                                                                聲明 &nbsp;<i class="fas fa-pen text-white-50"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between mb-3">
                    <h6 class="m-0 font-weight-bold text-primary">用戶管理中心</h6>
                </div>

                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-12 mb-4">
                                <a href="#">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">會員</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-600">會員管理</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-12 mb-4">
                                <a href="#">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">管理員</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-600">管理員管理</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6 col-lg-12 mb-4">
                                <a href="#">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">管理員</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-600">管理員申請區</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-info">審核中心</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    會員檢舉區
                                    <div class="text-white-50 small">系統施工中</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    貼文檢舉區
                                    <div class="text-white-50 small">系統施工中</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-danger text-white shadow">
                                <div class="card-body">
                                    問題回報區
                                    <div class="text-white-50 small">系統施工中</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    P卡檢舉區
                                    <div class="text-white-50 small">系統施工中</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">疑難埋解中心</h6>
                </div>
                <div class="card-body">
                    <div class="mb-4"><a target="_blank" rel="nofollow" href="#">Q & A &rarr;</a><br /></div>
                    <div class="mb-4"><a target="_blank" rel="nofollow" href="#">聯絡維修中心 &rarr;</a></div>
                    </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">隱私與安全中心</h6>
                </div>
                <div class="card-body">
                    <p>建置中</p>
                </div>
            </div>

        </div>
    </div>


</section>

