@model PathPlus.Models.Advertisers

@{
    ViewBag.Title = "Details";
}

<section class="container">
    <h2>廣告商詳細資料</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>

        </dl>
    </div>
        <div class="row">
            <div class="col-md-6 col-xl-4 ">
                @Html.ActionLink("編輯此廣告商", "Edit", new { id = Model.CompanyID }, new { @class = "btn btn-secondary btn-block btn-secondary-warning" })
            </div>

        </div>
        <div class="mt-4">
            <a href="@Url.Action("Index")">返回列表 <i class="far fa-file-alt"></i></a>
        </div>
</section>