@model PathPlus.Models.Advertisement

@{
    ViewBag.Title = "Delete";
}

<section class="container">
    <h2>刪除廣告</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AdText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdText)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgeRange)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgeRange)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Money)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Money)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Limitation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Limitation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpireDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdvertisemenStatusCategory.AdStatusCategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdvertisemenStatusCategory.AdStatusCategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Advertisers.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Advertisers.CompanyName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="row">
                    <div class="col-md-6 col-xl-4 ">
                        <input type="submit" value="刪除此廣告" class="btn btn-secondary btn-block btn-secondary-danger" onclick="return confirm('確認要刪除此廣告?')" />
                    </div>

                </div>
                <div class="mt-4">
                    <a href="@Url.Action("Index")">返回列表 <i class="far fa-file-alt"></i></a>
                </div>
            </div>
        }
    </div>
</section>