@model IEnumerable<PathPlus.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limitation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvertisemenStatusCategory.AdStatusCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisers.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limitation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertisemenStatusCategory.AdStatusCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advertisers.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertisementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertisementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertisementID })
        </td>
    </tr>
}

</table>
