@model IEnumerable<PathPlus.Models.Advertisement>

@{
    ViewBag.Title = "Index";
    var active = "";
    var show = "";
}

<session class="container">
    <div class="ml-4 mr-5">
        <h2>廣告列表</h2>
        <div class="mb-3"><a href="@Url.Action("Create")">新增廣告 <i class="far fa-clone"></i></a></div>
        <div class="container-fluid">

            <ul class="nav nav-fill nav-tabs" role="tablist">

                @foreach (var item in ViewBag.StatusCategory)
                {
                    active = item.AdStatusCategoryID == "0" ? "active" : "";

                    <li class="nav-item">
                        <a class="nav-link @active" role="tab" data-toggle="tab" href="#tabs-@item.AdStatusCategoryID">@item.AdStatusCategoryName</a>
                    </li>
                }
            </ul>

            <div class="tab-content">

                @foreach (var items in ViewBag.StatusCategory)
                {
                    active = items.AdStatusCategoryID == "0" ? "active" : "";
                    show = items.AdStatusCategoryID == "0" ? "show" : "";

                    <div class="tab-pane fade bg-white shadow container-fluid py-4 @active @show" id="tabs-@items.AdStatusCategoryID">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                if (item.AdStatusCategoryID == items.AdStatusCategoryID)
                                {
                                    <div class="col-xl-6">
                                        <div class="card container-fluid mb-3 shadow">
                                            <div class="row mt-4 p-3 bg-gray-200">
                                                <div class="card-text col-md-9 col-lg-10 col-xl-9 shadow pt-3 pr-3 pl-3 pb-1">
                                                    <p class="card bg-info text-white shadow text-center text-truncate">
                                                        <span class="card-body">
                                                            @Html.DisplayFor(modelItem => item.AdText)
                                                        </span>
                                                    </p>
                                                    <p class="font-weight-light small pl-2 text-truncate">
                                                        @Html.DisplayFor(modelItem => item.Advertisers.CompanyName)

                                                    </p>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-3 ml-auto">
                                                    @Html.ActionLink("詳細", "Details", new { id = item.CompanyID }, new { @class = "btn btn-secondary btn-block btn-secondary-success" })
                                                    @Html.ActionLink("編輯", "Edit", new { id = item.CompanyID }, new { @class = "btn btn-secondary btn-block btn-secondary-warning" })
                                                    @Html.ActionLink("刪除", "Delete", new { id = item.CompanyID }, new { @class = "btn btn-secondary btn-block btn-secondary-danger" })
                                                </div>
                                            </div>
                                            <div class="text-xs">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayNameFor(model => model.StartDate)
                                                            @Html.DisplayFor(modelItem => item.StartDate)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
</session>



@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisemenStatusCategory.AdStatusCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisers.CompanyName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvertisemenStatusCategory.AdStatusCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advertisers.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AdvertisementID }) |
                @Html.ActionLink("Details", "Details", new { id=item.AdvertisementID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AdvertisementID })
            </td>
        </tr>
    }

    </table>*@
